.team-section {
    background-color: #f5f4fa;
  }
  
  .team-list {
    display: flex;
  }
  .team-list__item {
    background-color: #ffffff;
    border-bottom: solid rgba(0, 0, 0, 0.2);
    border-radius: 0px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  
    &:not(:last-child) {
        margin-right: 30px;
      }
    }
  
  
  
  .team-card {
    flex-basis: calc((100%-120) / 4);
    padding-bottom: 30px;
    padding-top: 30px;
    }
  
  .team-section__head {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
  }
  .team-card__head {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  .team-card__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .team-social-link-list {
    width: 270px
  }
  
   .social-link__team-link {
    background-color: #ffffff;
    fill: #AFB1B8;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
     &:focus {
     background-color: var(--accent-color);
     fill:#ffff;
   }
  }
   
   .social-link-list__item:not(last-child) {
     margin-right:10px;
   }

